h1 {
    color: #de5499;
}

h3 {
    color: #de5499;
}

h4 {
    display: flex;
    justify-content: center;
}

a:link {
    color: #f18f1f;
}

.item {
    height: 350px;
}

.container {
    width: 80%;
    padding: 20px;
}

table {
    width: 80%;
    margin: auto;

}

td, th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    background-color: #264143;
    margin-bottom: 0;
    border-radius: 0;
    padding-left: 17%;
    padding-right: 17%;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 500px }

.sidenav {
    padding-top: 100px;
    background-color: #f2ebe9;
    height: 200%;
    
   
}

footer {
    background-color: #264143;
    color: white;
    padding: 15px;
    width: 66.7%;
    
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
    height: auto;
    padding: 15px;
}
.row.content {
    height:100%;
} 
}

.carousel {
    width: 66.7%;   
    margin:auto;
}



